.nav {
  position: absolute;
  width: 100%;
  top: 5;
  left: 0;
}

.nav nav {
  box-shadow: none;
}

.nav ul li {
  color: white;
  cursor: pointer;
}

.nav ul li.login-signup {
  margin-right: 15px;
}

.nav .nav-non-link {
  padding: 23 15px;
}

.nav-non-link:hover {
  border-bottom: 100px solid white;
  background-color: initial;
}

.nav ul li:hover {
  border-bottom: 2px solid white;
  background-color: initial;
}
