body {
  background-image: url('https://www.wallpaperbetter.com/wallpaper/179/29/184/colorful-cute-background-designs-1080P-wallpaper-middle-size.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
